{% extends 'layout.html' %}
{% block content %}
    <h2 class="mt-3 text-center">Youtube Video Downloader</h2>
    <div class="mt-2 text-center">
        Convert and download all YouTube videos to high quality .mp4 files, by just inputting the url.
    </div>
    <form method="POST">
        <input class="form-control mt-3" type="text" placeholder="Enter the YouTube video URL" aria-label="default input example" name="url">
        <button type="submit" class="btn btn-danger mt-3">Convert</button>
    </form>
    <h2 class="mt-5 text-center">About our service</h2>
    <div class="mt-4">
        <div class="row">
            <div class="col-md-4">
                <div class="card shadow p-3 border-0">
                    <img src="{{ url_for('static', filename = 'img/004-fast-time.svg')}}" class="card-img-top" alt="..." height="300">
                    <div class="card-body">
                      <h5 class="card-title">Készítette Bacsi10</h5>
                      <p class="card-text">
                          Gyorsan összedobtam egy kis vidó letöltőt.
                      </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow p-3 border-0">
                    <img src="{{ url_for('static', filename = 'img/003-insurance.svg')}}" class="card-img-top" alt="..." height="300">
                    <div class="card-body">
                      <h5 class="card-title">Iratkozz fel a youtube csatornára!</h5>
                      <p class="card-text">
                          https://www.youtube.com/channel/UCT0Xk44UMupMqDNZhS0_57Q
                      </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow p-3 border-0">
                    <img src="{{ url_for('static', filename = 'img/001-forever.svg')}}" class="card-img-top" alt="..." height="300">
                    <div class="card-body">
                      <h5 class="card-title">Könnyen használható és ingyenes</h5>
                      <p class="card-text">
                        csak beírod a linket és kész
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
